#layout {
    display: flex;
}

#menu {
    position: fixed;
    width: 20%;
    padding-top: 12%;
    display: flex;
    flex-direction: column;
    text-align: right;
    box-sizing: border-box;
    max-height: 100vh;
    overflow-y: auto;
}

.pure-menu-link, .pure-menu-heading{
    /* font-size: clamp(1.5vw, 1.5vw, 1.5vw); */
    white-space: normal;
    overflow-wrap: normal;
}

#main {
    margin-left: 20%;
    padding: 2%;
    box-sizing: border-box;
    border-left: 2px solid black;
    min-height: 100vh;
}
p{
    text-align: justify;
}
.project-image {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-right: 1em;
}

.project-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.project-text {
    width: 50%;
}
.profile-img{
    width: 180px;
    height: auto;
    object-fit: contain;
}
.study-matrix {
    width: 80%;
    height: auto;
}

.main-text {
    width: 80%;
}

a{
    color: inherit;
}