body {
    color-scheme: light;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: #1f2328;
    background-color: #ffffff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
  }

#layout {
    display: flex;
}

#menu {
    position: fixed;
    width: 20%;
    padding-top: 12%;
    display: flex;
    flex-direction: column;
    text-align: right;
    box-sizing: border-box;
    max-height: 100vh;
    overflow-y: auto;
}

.pure-menu-link, .pure-menu-heading{
    white-space: normal;
    overflow-wrap: normal;
}

#menu-toggle {
    display: none;
    top: 1rem;
    left: 1rem;
    z-index: 1001;
  }

  #main {
    margin-left: 20%;
    padding: 2%;
    box-sizing: border-box;
    border-left: 2px solid black;
    min-height: 100vh;
}

@media (max-width: 768px) {
    #menu {
        display: none; /* Hide menu */
        padding-top: 4rem;
    }

    #menu-toggle {
        display: block;
    }

    #menu.open {
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    #main {
        margin-left: 0;
        border-left: none;
    }

    /* When menu is open */
    #menu.open ~ #main {
        margin-left: 50%; /* Or whatever width you want menu to take */
        padding: 2%;
        box-sizing: border-box;
        border-left: 2px solid black;
        min-height: 100vh;
    }
}

.project-image {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-right: 1em;
}

.project-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* .project-text {
    width: 50%;
} */

@media (min-width: 568px) {
    .project-text {
        width: 50%;
    }
    p{
        text-align: justify;
    }
}

.profile-img{
    width: 180px;
    height: auto;
    object-fit: contain;
}
.study-matrix {
    width: 80%;
    height: auto;
}

.main-text {
    width: 80%;
}

a{
    color: inherit;
}