#menu{
    margin-top: 20%;
    display: inline-block;
    text-align: right;
}
#layout{
    margin: 0 5%;
}
p{
    text-align: justify;
}
.project-image{
    display: flex;
    justify-content: center;
}